{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                {% if not is_new %}
                <button type="button" onclick="build();" data-toggle="tooltip" title="{{ button_build }}" class="btn btn-success">
                    <i class="fa fa-file-code-o"></i>
                </button>
                {% endif %}
                <a href="{{ action.cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li>
                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error.permission %}
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i>
            {{ error_permission }}
            <button class="close" data-dismiss="alert" type="button">&times;</button>
        </div>
        {% elseif error|length > 0 %}
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i>
            {{ error_warning }}
            <button class="close" data-dismiss="alert" type="button">&times;</button>
        </div>
        {% endif %}
        
        <!-- Alert -->
        <div id="alert" class="alert alert-success hidden" role="alert"></div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ text_edit }}
                </h3>
            </div>

            <div class="panel-body">
                <form action="{{ action.save }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <!-- Module Name -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">{{ entry_name }}</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" id="name" value="{{ name }}" placeholder="{{ placeholder_name }}" class="form-control" />
                            {% if error.name  %}
                            <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- API Name -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="api_name">{{ entry_api_name }}
                            <span data-toggle="tooltip" title="{{ help_api_name }}"></span>
                            <span data-toggle="tooltip" title="{{ help_api_name_forbidden }}"></span>
                        </label>
                        <div class="col-sm-9">
                            <input tpye="text" class="form-control" id="api_name" name="api_name" value="{{ api_name }}" placeholder="{{ placeholder_api_name }}"/>
                            {% if error.api_name_blank  %}
                            <div class="text-danger">{{ error_api_name_blank }}</div>
                            {%elseif error.api_name_forbidden %}
                            <div class="text-danger">{{ error_api_name_forbidden }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Status -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="status">
                            {{ entry_status }}
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="status" name="status">
                                {% if status %}
                                    <option selected="selected" value="1">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option selected="selected" value="0">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                            {% if error.status  %}
                            <div class="text-danger">{{ error_status }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">
                            {{ entry_description }}
                        </label>
                        <div class="col-sm-9">
                            <textarea name="description" id="description" rows="5" class="form-control">{{ description }}</textarea>
                        </div>
                    </div>
                    <!-- Code editors -->
                    <div class="form-group">
                        {% if error.code %}
                        <div class="text-danger text-center" style="padding: 2%;">{{ error_code }}</div>
                        {% endif %}
                        <label class="col-sm-2 control-label" for="code">
                            {{ entry_code }}
                            <span data-toggle="tooltip" title="{{ help_code }}"></span>
                        </label>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-controller" data-toggle="tab">{{ tab_controller }}</a></li>
                            <li><a href="#tab-model" data-toggle="tab">{{ tab_model }}</a></li>
                            <li><a href="#tab-language" data-toggle="tab">{{ tab_lang }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-controller">
                                <fieldset>
                                    <div class="col-sm-12">
                                        <textarea name="code_controller" id="code_controller" data-toggle="summernote" class="form-control">{{ code_controller }}</textarea>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="tab-model">
                                <fieldset>
                                    <div class="col-sm-12">
                                        <textarea name="code_model" id="code_model" data-toggle="summernote" class="form-control">{{ code_model }}</textarea>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="tab-language">
                                <fieldset>
                                    <div class="col-sm-12">
                                        <textarea name="code_lang" id="code_lang" data-toggle="summernote" class="form-control">{{ code_lang }}</textarea>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/codemirror.min.js" integrity="sha512-N+2N5tIIjG6LoLwqAubDASB7qH5NxVg/F2cVHyZEqlvMkfRx3EgJC9UITIckOUd1EFBjy9vEDb42dUgwfTM5Ow==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/theme/material.min.css" integrity="sha512-t93jzyjNejvKJ0LbK+VuLVp89Y8olz3sMmGPhKXYsTjSLuu3a3dVaZljCK6g04ShmsANEM8xe/OB+IaBE2LRBA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/display/fullscreen.min.css" integrity="sha512-T8xB3MmwpA77VK9lUH3UkdUTnkmpqOxHF8OceOKaHrvpcXMSNX0xtpa9FoLTDAVO1JnB2UiMdVeI2V0HTHjTWA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/scroll/simplescrollbars.min.css" integrity="sha512-2y3NTsei81d5emn5nwrdflyI5EGULwKXRZ0BCbO55cjgQ8x62X4ydH/jbnzrKnxArstf79F9n6z1j2MtVmJ8YA==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/mode/meta.min.js" integrity="sha512-0J5vuXu3szfD020ywGviGtlUf8uOaEBAvpHObvPD95x/6ouSPqPaFzNhd+ZidGdQ/JUkmnwUSQkiBWaw+LybNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/keymap/sublime.min.js" integrity="sha512-JLodqoX/DPULs76vfri2TVkE1VflxnhIWrxMtzvsvDqYHPKcw327FRWxlmSkhQ5A31pHBhCCfv5WJIjFiWT7aA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/keymap/vim.min.js" integrity="sha512-iisxvAO2iQQD52++It/lOo+oBpZT/S7j3NevR7Vp0317oGVv48FoEr2/yLqt8CcJmSrnzvM9Cu7EIR/jYhYp+A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/hint/sql-hint.min.js" integrity="sha512-zVNOyYBOmDcGRo9/Tz+rYW8vjhAO4D/jqbj9+IIb1xWMU1ROyNWPCeWcOoBTquOBBmdiue78xJg5kkdWzsZJog==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/comment/comment.min.js" integrity="sha512-soD6eVYj3pEqcNhj/o7b++cF1hK2/fkTZa4B7TROtWPJOKetXK56B4CY1xClPhZDLHBH5Nd/WnT5bHerp30ipg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/edit/closebrackets.min.js" integrity="sha512-SS70d62R68X0qaUE9PPzc0+zXNvJzg11XpniHKLv46GS7SN99iboTRgc9f/guIFFh7d4ehoPi7iQJIojIQeJnQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/edit/closetag.min.js" integrity="sha512-8Ai5rTwZGpdbVS8LHO3VegWyY7OauoOBLgz7xnrEbpivphLu2x/TShlyVfN3l4Rjx0+XE3hWWJFyzopv3Lo1yA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/edit/matchbrackets.min.js" integrity="sha512-zgTUY40c9HFb3Kr25lTW3gpnSt+xVc0yWPYwa6Yu7kChiaOHfNlyA4bM8Y3YLzjeQfrNFy40UcbOE/Cmmb29nQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/edit/matchtags.min.js" integrity="sha512-q/FQZQVZpwUkYxhjfZZekmH74gSxVZ64hVJ16fVAn61bl/vW+vGGNs5NzLphNop0p/Xo/hWLCvnAXIFIiWOVfQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/lint/json-lint.min.js" integrity="sha512-75qBBnF7D1zSKAd2k2ExN86M6GlMznuiqlPX1pc1xfq5OyvWhCSdacxz1Whdju8GWZkZOntwPcYDii/f1ARuyQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/selection/active-line.min.js" integrity="sha512-ysQeDEwbdvERZqZCqFd64rVjSx4ExrC/r581h40cMF4e6rFWS6VxvdVxmSf/cLr+oe9mVxxzWSMhPJYSFyiVew==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/mode/php/php.min.js" integrity="sha512-m8sosGXUwyH6Ppzoy+CoQ/r5zAwZRGdNFUgGH81E3RDQkFnAsE4cP1I3tokvZwgMsDZB5mHxs+7egAgvhaCcMw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/mode/clike/clike.min.js" integrity="sha512-HT3t3u7HfQ7USbSZa0Tk5caEnUfO8s58OWqMBwm96xaZAbA17rpnXXHDefR8ixVmSSVssbOv3W3OMh6mNX/XuQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/scroll/simplescrollbars.min.js" integrity="sha512-wwRqnIYukZ5HK6JnEMvvim3KEelm7cok/5tEVGPshqe65REnBhtjWlj+Miu1zFV8Ojd/s98ZwPnHW2/i7BSR3w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/addon/display/fullscreen.min.js" integrity="sha512-j7jY5ZVB6JyGNFdWkNPtSzVncb0j2KjHc7cYQSAX78cDppO+rY0CgPPeOxK3wdCIfYGaahgyDilAEWTESm9u0g==" crossorigin="anonymous"></script>
<script>
    var config = {
        lineNumbers: true,
        tabSize: 2,
        matchBrackets: true,
        mode: 'text/x-php',
        theme: 'material',
        lineWrapping: false,
        fixedGutter: false,
        closeBrackets: true
    };

    var controllerEditor = CodeMirror.fromTextArea(document.querySelector('#code_controller'), config);
    controllerEditor.setSize("100%", "550");
    controllerEditor.on("blur", function(){ controllerEditor.save(); });

    var modelEditor = CodeMirror.fromTextArea(document.querySelector('#code_model'), config);
    modelEditor.setSize("100%", "550");
    modelEditor.on("blur", function(){ modelEditor.save(); });

    var langEditor = CodeMirror.fromTextArea(document.querySelector('#code_lang'), config);
    langEditor.setSize("100%", "550");
    langEditor.on("blur", function(){ langEditor.save(); });

    {% if not is_new %}
    function build(){
        $.ajax({
            url: '{{ action.build }}',
            data : $('#form-module').serialize(),
            dataType: 'json',
            type: 'post',
            success: function(json) {
                var alert = $('#alert');
                alert.html('<strong>'+json['success']+'</strong>');
                if (alert.hasClass('hidden'))
                    alert.removeClass('hidden');
                alert.slideDown('slow');
                alert.delay(5000).slideUp();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
                console.log(xhr.statusText);
                console.log(xhr.responseText);
            }
        });
    }
    {% endif %}
</script>
{{ footer }}